.sign-in {
    width: 390px;
    display: flex;
    flex-direction: column;

    .title {
        margin:10px 0;
         
    }
    @media screen and (max-width : 800px) {
        margin-top: 1rem;

    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}